<h1>Listing phrases</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Quote</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @phrases.each do |phrase| %>
      <tr>
        <td><%= phrase.author %></td>
        <td><%= phrase.quote %></td>
        <td><%= link_to 'Show', phrase %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phrase', new_phrase_path %>
