<h1 style="color: white; font-family: Helvetica;">Listing phrases</h1>

<table style="color: white; font-family: Helvetica; background: #272727; padding: 30px; border: 5px solid white;">
  <thead>
    <tr>
      <th style="padding-right: 150px;">Autor</th>
      <th style="padding-right: 150px;">Frase</th>
      <th>Ver Frase</th>
    </tr>
  </thead>

  <tbody>
    <% @phrases.each do |phrase| %>
      <tr>
        <td style="padding-right: 150px;"><%= phrase.author %></td>
        <td style="padding-right: 150px;"><%= phrase.quote %></td>
        <td><%= link_to 'Show', phrase %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phrase', new_phrase_path %>
