<div class='logo'>
    <%= image_tag 'logo-ceeinf.png'%>
    <p>Frases para el Bronce CEEINF 2014</p>
</div>

<div class='content'>
  <div class='quote'>
    <h1><%= @phrase.quote %></h1>
    <p><%= @phrase.author %></p>
  </div>

</div>


<!--<div class='renew'><%= link_to 'Ver otra !', root_path %></div> -->