// Place all the styles related to the phrases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quote{
  width: 900px;
  margin: 0 auto;
  & > h1{
    font-family: 'Chalkduster';
    text-align: center;
    font-size: 72px;
  }
  & > p{
    font-family: 'Chalkduster';
    text-align: right;
    font-size: 24px;
  }
}

.ranking{
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0,0,0, 1);
  border: 5px solid rgba(120, 78, 32, 1);
  & > h3{
    font-family: Helvetica;
    text-align: center;
    font-size: 30px;
  }
  & > p{
    font-family: Helvetica;
    display: inline;
    text-align: center;
    font-size: 18px;
  }
  margin-bottom: 50px;
  margin-top: 20px;
}